#ex1 {
  width: 300px;
}

#ex2 {
  width: 50%;
}


ul { list-style: none; }

#ex1 ul.sockets li.Metric,
#ex1 ul.sockets li.AF {
  border-top: 1px dashed black;  
  margin: 5px;
}

ul.sockets li span,
ul.sockets li svg,
ul.sockets li ul {
  vertical-align: middle;
}

ul.sockets li span {
  display: inline-block;
  text-align: right;
  width: 30%;
}

ul.sockets li ul {
  display: inline-block;
  text-align: left;
  width: 30%;
  font-size: 0.8em;
}

svg {
  margin: 1em;  
}

.AF svg polygon {
  fill: yellow;
}

.Metric svg polygon {
  fill: lime;
}
