.example {
  width: 100%;
}


ul { list-style: none; }

ul.polygons li {
  border-top: 1px dashed black;  
  margin: 5px;
}

ul.polygons li span,
ul.polygons li svg,
ul.polygons li ul {
  vertical-align: middle;
}

ul.polygons li span {
  display: inline-block;
}

ul.polygons li span.size {
  text-align: right;
  font-size: 2em;
}

svg {
  margin: 1em;
}